@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-image: url('../assets/background.jpg');
  background-size: contain;
  font-family: 'Poppins', sans-serif;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .box {
    position: relative;
    border: 1px solid #8aacb6ff;
    // width: 75%;
    // margin: 0 auto;
    width: 500px;
    background: #fcfcfc;
    border-radius: 0.75em;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    h1 {
      font-size: 3em;
      font-weight: bold;
      color: rgba(38, 44, 10, 0.676);
      padding: 1em 0;
      color: #60b4ccff;
    }

    &__content {
      padding: 0 2em;
      color: rgb(81, 128, 142);

      &--age {
        background: #fff;
        // border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 0 20px;
        margin-bottom: 20px;

        label {
          color: black;
          font-size: 2em;
          display: block;
          margin: 20px 0;
          color: rgb(81, 128, 142);

        }
        input {
          outline: none;
          border: none;
          border-bottom: 1px solid #8aacb6ff;
          text-align: center;
          font-size: 1.8em;
          width: 50%;
          margin-bottom: 20px;
        }
      }
      &__gander {
        background: #fff;
        border-radius: 12px;
        padding: 20px 0;
        margin-bottom: 20px;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-around;
        align-items: center;
        label {
          font-size: 24px;
          display: inline-flex;
          gap: 1rem;
        }
      }

      &__boxHW {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 1.5rem 0;
        
        .weight,
        .height {
          border: 1px solid #8aacb6ff;
          // width: 100%;
          background: #fff;
          border-radius: 12px;
          padding: 1rem 1rem;
          margin-bottom: 20px;
          box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        }
        label {
          display: block;
          margin: 1rem 0;
          font-size: 24px;
          text-align: center;
        }
        input {
          text-align: center;
          // font-size: 28px;
          outline: none;
          border: none;
          border-bottom: 1px solid #8aacb6ff;
          width: 50%;
          font-size: 1.8em;
          
        }
      }

      &__button {
        background-color: #60b4cc;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #fff;
        font-size: 1rem;
        outline: none;
        border: none;
        border-radius: 7px;
        padding: 12px 0;
      }
    }

    &__result {
      padding: 10px 20px;
      p {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 10px;
        color: #60b4ccff;
      }
    }
  }
}

@media screen and (max-width:540px) {
  .main{
   
    max-width: 90vw;
    .box{
     h1{
      font-size: 2.2rem;
    }
    &__content{
    padding: 0 0.8em ;
    &__boxHW {
      .height , .weight{
        padding: 0.5rem 0.5rem;
      }
      label{
        font-size: 1.2em;
        font-weight: 500;
      }
    }
    &__gander{
      p{
        font-size: 1em;
        font-weight: 500;
      }
    }
  }
  
}
  }
}